* {
    box-sizing: border-box;
}

/*Navigation styling*/
.navbar-brand {
    margin-right: 4rem;
}

.nav-item {
    margin-right: 2rem;
}

.nav-link {
    font-family: 'Karla', sans-serif;
    font-size: 20pt;
    color: black;
}

.navbar-toggler .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
}

h1 {
    color: #000;
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 400px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 50px;
}

span {
    color: #000;
    font-family: 'Karla', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 520px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
}

.welcome {
    background-color: #E4D6A7;
    border: 15px ;
    padding: 50px;
    margin: auto;
    text-align: center;
    border-radius: 62px;
    max-width: 100%;
}
h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    height: 50px;
}
p {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
/* Add a black background color to the top navigation */
.topnav {
    text-align: right; 
    font-family: 'Karla', sans-serif;
    background-color: #ffffff;
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    text-align: right; 
    font-family: 'Karla', sans-serif;
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    text-align: right; 
    font-family: 'Karla', sans-serif;
    background-color: #E9B44C;
    color: black;
}

.footer-logos {
    position: relative;
    background-color: #9B2915;
    padding: 20px;
    margin: auto;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

