h1 {
    color: #000;
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 400px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 50px;
}
span {
    color: #000;
    font-family: 'Karla', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 520px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
}
.logo {
    width: 350px;
    flex-shrink: 0;
}
h1, span, .logo {
    display: inline-block;
    vertical-align: middle;
}
.boxed {
    background-color: #912D0B ;
    padding: 10px ;
}
.profile-picture { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    transition: 0.2s all ease-in-out;
}
    .profile-picture:hover { 
    transform: scale(1.1); 
    
}
