h1 {
    color: #000;
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 400px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 50px;
}
span {
    color: #000;
    font-family: 'Karla', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 520px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
}
.logo {
    width: 126px;
    height: 126px;
    flex-shrink: 0;
    width: 126px;
    border: 15px;
    margin: 20px;
}
h1, span, .logo {
    display: inline-block;
    vertical-align: middle;
}
.boxed {
    background-color: #912D0B ;
    padding: 10px ;
} 
 .info-container { 
     display: flex;
    padding: 50px;
    height: 700px;
    flex-grow: 3;
    width: auto;
    white-space:nowrap;
  }

     
.red {
    background: orangered;
    flex-grow: 2;

  }
 .green {
   background: #50a2a7;
   flex-grow: 3;
   border-radius: 1em;
 }

.info-button {
    display: flex;
    background-color: #50a2a7; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.info-button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.info-button:hover {
    background-color: #50a2a7;
    color: white;
  }    
      

.info-container > div {
        font-size: 5vw;
        padding: 1px;
        color: white;
        margin: 10px;
      }
p {
        font-family: 'Karla', sans-serif;
        font-size: 25px;
        text-align: left;
        margin: 50px;
    }

