* {
    box-sizing: border-box;
}

/*Navigation styling*/
.navbar-brand {
    margin-right: 4rem;
}

.nav-item {
    margin-right: 2rem;
}

.nav-link {
    font-family: 'Karla', sans-serif;
    font-size: 20pt;
    color: black;
}

.navbar-toggler .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
}

h1 {
    color: #000;
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 400px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 50px;
}
span {
    color: #000;
    font-family: 'Karla', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 520px;
    height: 103px;
    flex-direction: column;
    flex-shrink: 0;
    white-space: nowrap;
}



.boxed {
    background-color: #912D0B ;
    padding: 10px ;
}
